<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout_4block :: layout(~{::body/content()})}">
<head><meta charset="UTF-8"><title>更新確認</title></head>
<body>
    <h1>更新内容の確認</h1>
    <form th:action="@{/update/calendar/execute}" th:object="${calendarForm}" method="post">
		<div th:if="${#fields.hasAnyErrors()}" class="error_list" style="color:red;">
				<p th:each="err : ${#fields.allErrors()}" style="display: flex; align-items: center;">
        <span style="margin-right: 5px;">⚠️</span> 
        <span th:text="${err}"></span>
				</p>
        </div>
       
        <input type="hidden" th:field="*{calendarId}" />
        <input type="hidden" th:field="*{visitDate}" />
        <input type="hidden" th:field="*{client}" />
        <input type="hidden" th:field="*{pic}" />

        <table border="1">
            <tr><th>訪問日</th><td th:text="*{visitDate}"></td></tr>
            <tr><th>顧客名</th><td th:text="*{client}"></td></tr>
            <tr><th>担当者名</th><td th:text="*{pic}"></td></tr>
        </table>

        <p>この内容で更新してよろしいですか？</p>
        <input type="submit" value="完了" />
       
        <button type="button" onclick="history.back()">戻る</button>
    </form>
</body>
</html>
